.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

.Renviron
.Rprofile

*.tar.gz
*.Rcheck/
*.rprof

docs/*.html
docs/*.pdf

revdep/
cran-comments.md

.DS_Store
Thumbs.db

Kiribati/*
development/benchmarks/output/
